/* footer{
  display: flex;
  padding-top: auto;
  justify-content: center;
  align-items: center;

} */

footer {
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.notehorizontal{
  position: relative;
  display: flex;
  align-items:center;
  flex-direction: row;

    min-height: 100%;
    margin-bottom: 600px; /* Height of the footer */

}